$bg-color: #000
$bg-menu: rgba(#888, 0.4)
$color-text: #FCFEFD
$color-sub-text: #FFBF00
$bg-button: #4800D7
$IndieFlower: 'Indie Flower', sans-serif
$InriaSans: "Inria Sans", sans-serif
$bd-radius: 16px